



<div id="innerpage">
  <div class="container">
    <div class="row mt">
      <div class="col-lg-8">

        <h1>Startups looking for expertise</h1>
        <p>Can add value to a startup? Click connect on any profile below to show that startup your profile. If the team also think that you could be a good fit contact details will be exchanged. Not signed up yet? <%= link_to "Sign up here", new_user_path %>. </p>

      </div>

    </div>

    <div class="row mt">

      <%= render "/home/featuredstartups", :startups => @startups %>

      <br>
      <br>
<br>
<br>
    </div>
  </div>  
</div>  


<%= render :partial => "layouts/getnotified" %>