<div class="col-lg-10 col-log-offset-2">

<h1>Join as an advisor</h2>

<h2>Pursuade to sign up here</h2>

<p>Sign up</p>

<%= render :partial => "signup" %>

<p>Button to complete profile</p>

</div>	