<div id="innerpage">
  <div class="container">
    <div class="row mt">
      <div class="col-lg-8">

        <h1>Advisors, NEDs, Chairs and sector experts looking to accelerate high potential start-ups.</h1>
        <p>Click connect on any profile below to show that advisor your profile. If they also think that you could be a good fit contact details will be exchanged. Not signed up yet? <%= link_to "Sign up here", new_user_path %>. </p>

      </div>

    </div>

    <div class="row mt">

      <%= render "/home/featuredadvisors", :users => @users %>

      <br>
      <br>
<br>
<br>
    </div>
  </div>  
</div>  


<%= render :partial => "layouts/getnotified" %>