   <div id="matches">
   	<div class="container">
   		<div class="row mt">
   			<div class="col-lg-12">

   				<h2>Dashboard</h2>

   				<h3>Hi <%=@user.name%></h3>

   				<p>Chunk of text on why this is a great idea</p>

   				<% if @user.advisor? %>

   				

   		

   				<% elsif @user.usertype = "startup" %>

   				<p>Hi <%=@user.name%></p>

   				<p>Startup form!</p>

   				<% else %>

   				<p><%= button_to "Register a startup", new_startup_path, :class => "btn btn-success btn-lg pull-right", :method => :get %></p>
   				<p><%= button_to "Register as an advisor", new_advisor_path, :class => "btn btn-success btn-lg pull-right", :method => :get %></p>

   				<%end%>

   			</div>	

   		</div>
   	</div>
   </div>