
<div class="row centered">

  <% if users %>
  <% users.each do |user| %>

  <div class="advisorpanel">

    <%= link_to image_tag(user.avatar.url(:medium), class: "img-responsive"), user %>
    <div>
      <div class="advisorpanel-inner">
          <h4><%=user.sector%></h4>
          <p><%= user.shortsummary %></p>


          <div>

          </div>
        </div>
      </div>
      <br>
    </div>

    <%end%>
    <%end%>

  </div>
