<div id="innerpage">
	<div class="container">
		<div class="row mt">
			<div class="col-lg-6">
				<br>
				<h1>About us</h1>
				<p><a href="http://www.imperialinnovations.co.uk">Imperial Innovations</a> creates, builds and invests in high-potential startups. 
					<br>
					<br>

				<h3>Why we are building this platform</h3>

				<p>
				 We believe that many industry sectors are ripe for innovation and would benefit from interaction with start-ups and research communities. We cultivate relationships with inventors, entrepreneurs, corporates and advisors – and believe that a system like this will enable startups and advisors to find and support each other more effectively.</p>

				 <br>
				 <h3>Focused on high quality disruptive innovation</h3>

				 <p> We have seen solutions in the market that connect startups to great entrepreneur mentors or co-founders or employees but nothing effectively connects a curated group of high-quality industry advisors with startups – so we decided to build it. </p><p> We believe this system can help the inventors and entrepreneurs in our portfolio and at our affiliated tech transfer offices. We believe industry insight may validate and strengthen a startup’s value proposition to encourage investment from our Ventures team. Most importantly, we believe this system will lead to a stronger community of successful startups, insightful entrepreneurs and engaged advisors – a community and culture that will benefit us all. </p>
				<br>
				<p>If you have ideas or thoughts on this we would love to hear from you <a href="mailto:mark.hammond@imperialinnovations.co.uk">Drop us a line here</a></p>
				<br>
				<br>
				<br>

				</div>
				<div class="col-lg-5 col-lg-offset-1">
					<br>
					<br>
					<br>
					<br>
					<br>
					<%= image_tag("portfolio.jpg", class: "img-responsive") %>
					<br>
					<p>Innovations was founded in 1986 has invested over £143m in technology and healthcare busineesses. 
				</div>


			
		</div>
	</div>
</div>
