	<!-- Last call -->

	<!-- FOOTER -->



	<!-- SOCIAL LINKS -->

	<!-- FOOTER -->

	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">

				<a href="https://twitter.com/ImperialInnova"><i class="fa fa-twitter"></i></a><a href="mailto:mark.hammond@imperialinnovations.co.uk"><i class="fa fa-envelope"></i></a>
				<p>&copy; 2014 Imperial Innovations, 52 Princes Gate, SW7 2PG</p>

			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->

</div><!-- container -->