	<div id="lc">
		<div class="container">
			<div class="row centered">
				<!--
				<a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-dribbble"></i></a> -->
				<h2>Request access</h2>
				<p>We are currently in private beta</p> 


			</p>

			<form role="form" action="http://imperialcreatelab.createsend.com/t/d/s/pklui/" method="post" id="registerform">


				<div class="form-inline">
					<div class="form-group">

						<label class="sr-only" for="fieldEmail">Email address</label>
						<div class="col-xl-8">
							<input id="fieldEmail" name="cm-pklui-pklui" type="email" placeholder="Enter email" class="form-control input-lg" required />

						</div>
					</div>

					<div class="btn-group">
						<button type="submit" class="btn pull-right btn-lg">Let me in</button>
					</div>

				</div>

			</form>

			<div id="thankyou">
				<h3>Welcome aboard! We'll be in touch soon.</h3>
			</div>


		</div>
	</div><!-- row -->
</div>